body{
    height: auto;
    width: 100%;
    margin: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Open Sans;
    font-size: 18px;

    
}

.huddle1{
    width: 100%;
    background: hsl(193, 100%, 96%);

}

.huddle_card1{  
    background: hsl(193, 100%, 96%);
    background-image: url(../images/bg-hero-mobile.svg);
    background-position: top;
    background-repeat: no-repeat;
}

.huddle_1{
    width: 100%;

    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.huddle_1 img{
    height: 20px;
    margin: 25px 5%;
}

.huddle_1 button{
    height: 25px;
    width: 100px;
    margin: 25px;
    margin-right: 5%;

    font-size: 11px;

    border-radius: 10px;

    background-color: white;
    border: 1px solid white;

    box-shadow: 0px 0px 5px hsl(208, 11%, 55%);
}

.huddle_1 button:hover{
    opacity: 85%;
    cursor: pointer;
    box-shadow: 0 0 13px white;
}

@media (min-width:800px){
    .huddle_card1{
        background: hsl(193, 100%, 96%);
        background-image: url(../images/bg-hero-desktop.svg);
        background-position: top;
        background-repeat: no-repeat;
    }
}

.huddle_2{    
    align-items: center; 

}


.huddle_2--card1{    
    text-align: center;
}

.huddle_2--card1 h1{
    font-size: 23px;
    margin:50px 40px auto;
}

.huddle_2--card1 p{
    line-height: 25px;
    margin: 30px 25px auto;
    font-size: 17px;
}

.huddle_2--card1 button{
    height: 40px;
    width: 230px;
    
    margin: 40px auto 55px;
    
    border-radius: 20px;
    
    color: white;
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
}

.huddle_2--card1 button:hover{
    cursor: pointer;
    opacity: 50%;
    box-shadow: 0 0px 13px hsl(322, 100%, 66%) ;
}

.huddle_2--card2{
    height: auto;
    width: 100%;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin-bottom: 35px;
}

.huddle_2--card2 img{
    height: auto;
    width: 80%;
}

@media (min-width:800px){
    .huddle_2{
        display: flex;
        flex-direction: row;

        margin: auto 40px  auto;
    }

    .huddle_2--card1{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align:left;
        width: 100%;
        min-width: 560px;
    }

    .huddle_2--card1 h1{
        margin: 50px 40px auto;
        width: 250px;
    }

    .huddle_2--card1 p{
        margin: 50px 40px auto;
        width: 485px;
    }

    .huddle_2--card1 button{
        margin: 50px 40px 55px;
    }
    
    .huddle_2--card2 img{
        height: auto;
        width: 100%;
        margin-right: 40px;
    }
}

.huddle2_card2, .huddle2_card3, .huddle2_card4{
    height: auto;
    width: 85%;
    margin: 50px auto;    
    
    border-radius: 15px;
    
    box-shadow: 0px 0px 10px hsl(208, 11%, 55%);
}


.huddle2_2{
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.huddle2_2 img{
    height: auto;
    width: 70%;
    
    margin: 45px;
    
}

.huddle2_2 h1{
    text-align: center;
    font-size: 20px;
}

.huddle2_2 p{
    font-size: 14px;
    margin: auto 30px 30px;
    text-align: center;
    opacity: 50%;
    
    line-height: 22px;
}

@media (min-width:800px){
    .huddle2_2{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }   

    .huddle2_description{
       display: flex;
       flex-direction: column;
       align-items: flex-start;

       width: 400px;
       margin-left: 12%;
    }

    .huddle2_2 h1{
        text-align: center;
    }

    .huddle2_2 p{
        text-align: left;
        margin: auto auto;
    }

    .huddle2_2 img{
        height: auto;
        width: 40%;
    }
}

.huddle2_3{
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.huddle2_3 img{
    height: auto;
    width: 70%;

    margin: 45px;

}

.huddle2_3 h1{
    font-size: 20px;
    text-align: center;
}

.huddle2_3 p{
    font-size: 14px;
    margin:auto 30px 30px;
    text-align: center;
    opacity: 50%;

    line-height: 22px;
}

@media (min-width:800px){
    .huddle2_3{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .huddle2_3description{
        display: flex;
       flex-direction: column;
       align-items: flex-start;

       width: 400px;
       margin-right: 12%;
    }

    .huddle2_3 img{
        height: auto;
        width: 40%;    
    }

    .huddle2_3 h1{
        text-align: center;
    }

    .huddle2_3 p{
        text-align: left;
        margin: auto auto;
    }
}

.huddle2_4{
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.huddle2_4 img{
    height: auto;
    width: 70%;

    margin: 45px;

}

.huddle2_4 h1{
    text-align: center;
    font-size: 20px;
}

.huddle2_4 p{
    font-size: 14px;
    margin: auto 35px 30px;
    text-align: center;
    opacity: 50%;

    line-height: 22px;
}

@media (min-width:800px){
    .huddle2_4{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .huddle2_4description{
        display: flex;
       flex-direction: column;
       align-items: flex-start;

       width: 400px;
       margin-left: 12%;
    }

    .huddle2_4 img{
        height: auto;
        width: 40%;  
    }

    .huddle2_4 h1{
        text-align: center;
    }

    .huddle2_4 p{
        text-align: left;
        margin: auto auto;
    }
}

.huddle3{
    height: 170px;
    width: 90%;
    max-width: 700px;

    margin:60px auto -50px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    box-shadow: 0 0 10px hsl(208, 11%, 55%);
    background: white;

    z-index: 2;
}

.huddle3_1{
    text-align: center;
    font-size: 9px;
}

.huddle3_1 h1{
    margin:auto auto  20px;
}

.huddle3_1 button{
    height: 40px;
    width: 193px;

    border-radius: 30px;
    font-size: 13px;

    color: white;
    background-color: hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
}

.huddle3_1 button:hover{
    cursor: pointer;
    opacity: 50%;
    box-shadow: 0 0px 13px hsl(322, 100%, 66%) ;
}

@media (min-width:700px){
    .huddle3{
        height: 230px;
        width: 90%;
        max-width: 700px;
    
        margin-bottom: -50px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        border-radius: 10px;
        box-shadow: 0 0 10px hsl(208, 11%, 55%);
        background: white;
    
        z-index: 2;
    }

    .huddle3_1{
        text-align: center;
        font-size: 14px;
    }

    .huddle3_1 button{
        height: 63px;
        width: 340px;
    
        border-radius: 30px;
        font-size: 20px;
    
        color: white;
        background-color: hsl(322, 100%, 66%);
        border: 1px solid hsl(322, 100%, 66%);
    }
}

.huddle4{
    height: auto;
    width: 100%;
    background: hsl(192, 100%, 9%);

    z-index: 1;
    margin-bottom: -16%;
    
}

.huddle4_card1{
    margin-top: 130px;
}

.huddle4_img{
    height: 33px;
    margin: 25px 15px;
    filter: invert(132%) sepia(98%) saturate(981%) hue-rotate(170deg) brightness(1098%) contrast(3723%);
}

.huddle4_2{
    display: flex;
    flex-direction: row;

}

.huddle4_img2{
    height: 20px;
    margin: 18px;
}

.huddle4_2 p{
    color: white;
    font-size: 15px;
    margin-right: 31px;
}

.huddle4_card2{
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;

    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;

    color: white;
    
}

.huddle4_card2 p:hover{
    cursor: pointer;
    text-decoration: underline;
}

.huddle4_card3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 15px auto 18%;
    gap: 5px;
}

.huddle4_facebook{
    height: 50px;
}

.huddle4_facebook:hover{
    cursor: pointer;
    filter:hue-rotate(-155deg) brightness(-40%) contrast(130%);
}

.huddle4_twitter{
    height: 49px;
}

.huddle4_twitter:hover{
    cursor: pointer;

    filter:invert(32%) sepia(198%) saturate(1981%) hue-rotate(-630deg) brightness(392%) contrast(523%)
}

.huddle4_instagram{
    height: 37px;
    filter: invert(132%) sepia(98%) saturate(981%) hue-rotate(170deg) brightness(1098%) contrast(3723%);

}

.huddle4_instagram:hover{
    cursor: pointer;

    filter:invert(122%) sepia(58%) saturate(1531%) hue-rotate(-60deg) brightness(192%) contrast(64%)
}

.huddle4_card4{
    text-align: center;
    font-size: 11px;
    color: white;

    margin-bottom: 60px;
}

@media (min-width:800px){
    .huddle4{
        height: 500px;
        width: 100%;
        display: flex;
        flex-direction: row;  
        justify-content: space-around;
        margin-bottom: -8%;
       
        z-index: 1;      
    }

    .huddle4_card1{
        width: 295px;
        margin-left: 5%;

    }

    .huddle4_img{
        height: 33px;
        margin: 25px 0;
        filter: invert(132%) sepia(98%) saturate(981%) hue-rotate(170deg) brightness(1098%) contrast(3723%);
    }

    .huddle4_img2{
        margin: 11px;
    }

    .huddle4_2 p{
        font-size: 10px;
    }

    .huddle4_card2{
        display: flex;
        flex-wrap: wrap;

        height: 200px;
        width: 450px;

        margin: 205px -12% auto 0;

        font-size: 16px;
    }

    .huddle4_card3{
        margin: 210px 8% auto 0;
        align-self:flex-start;
    }

    .huddle4_card4{
        align-items: flex-end;
    }    
}

.huddle5{
    width: 85%;
    text-align: center;
    z-index: 2;
}

.huddle5 p{
    color: white;
    font-size: 12px;
}

@media (min-width:800px){
    .huddle5{
        width: 85%;
        text-align: right;
        z-index: 2;
    }
}